language: python
python:
  - "2.6"
  - "2.7"
# command to install dependencies
install:
  - if [[ $TRAVIS_PYTHON_VERSION == 2* ]]; then pip install -r requirements-py2.txt --use-mirrors; fi
  - pip install coveralls
services:
  - redis
# command to run tests
before_script:
    - composer install --dev
    - sudo apt-get install ghc
    - sudo apt-get install haskell-platform
    - cabal update
    - cabal install pandoc
    - export PATH="$PATH:$HOME/.cabal/bin"
    - pandoc --version
script:
  nosetests -v --with-coverage --cover-package=srq --cover-tests --cover-erase --with-doctest
after_success:
  coveralls

deploy:
  provider: pypi
  user: penpen
  password:
    secure: djpUicrGmtv6i5ZVje/ZtwSdWJfL6XfItklWZjitXpbi8974uhA9+l2v4GeMxjrpUtBh4ir3Tfr/dQL9R9q8HmvQX9fIBijad0ehUtnwRtRGM9lbOGMddlEx5MaVCwyqNdXMeS8gG8eFt/f2k5J8Qs9F1KnIKIfyvQo2SSy0yy0=
